.main-exchange-container__table-container {
    margin: 0 auto;
}

.plans-detail__slider::-webkit-scrollbar {
    display: none;
}

.product-detail .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 930px;
    margin: 0 auto;
}

.plans-detail__slider {
    justify-content: center;
    overflow-x: hidden;
}