:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    align-self: center;
    margin-top: 60px;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title-container .header__buttom {
    position: absolute;
    top: 270px;
    left: calc(50% - 114px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 18.23px;
    text-align: center;
    font-weight: 700;
    color: var(--warm-black);
    text-decoration: none;
}

.header__buttom span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../icons/down-arrow.svg');
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

/* Primera Sección: Cambios */

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container__background {
    background-image: url('../img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container__title h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    color: var(--warm-black);
}

.main-exchange-container__title p {
    margin: 24px 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: #757575;
}

.main-exchange-container__table-container {
    width: 200px;
    margin: 0 auto;
    min-width: 235px;
    max-width: 500px;
    display: grid;
    gap: 10px;
    grid-template-columns: 100px 100px;
    justify-content: center;
    background-color: var(--just-white);
    border-radius: 15px;
}

.main-exchange-container__table-container h3 {
    margin-top: 10px;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 23px;
    color: var(--bitcoin-orange);
    grid-column: 1 / -1;
    text-align: left;
}

.main-exchange-container__table-container div:nth-child(even) {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #b5b0ac;
    line-height: 1.9rem;
    text-align: left;
}

.main-exchange-container__table-container div:nth-child(odd) {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 1.6rem;
    text-align: center;
    color: #757575;
    text-align: center;
}

.main-exchange-container__table-container .trending-down {
    display: inline-block;
    background-image: url('../icons/trending-down.svg');
    background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 8px;
    margin-left: 10px;
}

.main-exchange-container__table-container .trending-up {
    display: inline-block;
    background-image: url('../icons/trending-up.svg');
    background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 8px;
    margin-left: 10px;
}

.main-exchange-container .main-exchange-container__table-container .main-exchange-table__footer {
    margin: 16px auto 0;
    grid-column: 1 / -1;
    width: 90%;
    height: 31px;
    padding: 8px;
    text-align: center;
    justify-self: center;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.main-exchange-table__footer p {
	font-size: 1.2rem;
	font-weight: 400;
    color: var(--warm-black);
}

.main-exchange-table__footer span {
    font-weight: 700;
    text-align: center; 
}

.comision-table {
    margin-top: 15px;
}
.comision-table h3{
    color: var(--secondary-blue);
}

.main-exchange-container .comision-table .main-exchange-table__footer {
    background-color: #E7F5FF;
}

/* Segunda sección: Header */

.product-detail {
    position: relative;
    padding: 20px 15px;
    width: 100%;
    min-width: 320px;
    background-color: var(--warm-black);
}

.product-detail__icon {
    position: absolute;
    background-image: url('../icons/batata.svg');
    width: 40px;
    height: 25px;
    top: calc(0% - 12.5px);
	left: calc(50% - 20px);
}

.product-detail__header {
    margin: 0 auto 30px;
    padding-top: 50px;
}

.product-detail__header h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
}

.product-detail__header p {
    margin-top: 24px;
    
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: #b4b4b4;
}

/* Segunda sección: Tarjetas */

.product-detail .product-detail__card-container {
    margin: 16px auto;
    position: relative;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail__card-icon  {
    position: absolute;
    top: 16px;
    left: 18px;
    width: 24px;
    height: 24px;
}

.clock {
    background-image: url('../icons/clock.svg');
}

.eye {
    background-image: url('../icons/eye.svg');
}

.dollar {
    background-image: url('../icons/dollar-sign.svg');
}

.check {
    background-image: url('../icons/check-circle.svg');
}

.product-detail__title {
    position: absolute;
    top: 48px;
    left: 16px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-detail__description {
    position: absolute;
    padding-right: 20px;
    top: 76px;
    left: 16px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.background-img-container {
    min-width: 320px;
    height: 60vh;
    background-image: url('../img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-img-container h2 {
    padding-top: 64px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
}